body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.conversion {
    margin-top: 20px;
    display: flex;
    gap: 2%;
}

select {
    width: 135px;
    padding: 5px;
    font-size: 16px;
    height: 39px;
}
strong{
color: azure;
font-size: xx-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    color: white;
    text-decoration: none;
}
.martial {
    background: black;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: auto;
    border-style:ridge;
    height: auto;
}
B{
    font-size: 30px;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
    margin-left: 15%;
}

#display {
    width: 100%;
    height: 60px;
    text-align: right;
    font-size: 50px;
    margin-bottom: 8px;
    padding: 5px;
    margin-left: -7px;
    border-radius: 5%;
    background-color: grey;
    color: black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 15px;
    margin-top: 5%;
}

button {
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}
@media screen and (min-width: 320px) and (max-width:1024px) {
    
    #display{
        height: 10%;
        margin-top: -15px;
        font-size: 23px;
    }
    
    strong{
        font-size: 60%;
    }
    .martial {
        background: black;
        width: auto;
        height: auto;
    }
    button {
        padding: 0.1px;
        font-size: 18px;
        cursor: pointer;
        border: none;
        background-color: #007BFF;
        color: white;
        border-radius: 5px;
        transition: background 0.3s;
        width: auto;
        height: auto;
    }
    .buttons{
        margin-left: -5px;
        gap: -3px;
        grid-template-columns: repeat(4, auto);
    }
    a{
        color: white;
    }
    button:hover {
        background-color: #0056b3;
    }
    p{
        font-size: 50%;
    }
}
@media screen and (min-width: 300px) and (max-width:1024px) {
    #display{
        height: auto;
        margin-top: -15px;
        font-size: 22px;
    }
    .buttons{
        margin-left: -5px;
        gap: -3px;
    }
    .martial {
        background: black;
        width: auto;
        height: auto;
    }
    @media screen and (min-width: 20px) and (max-width:1500px) {
        .martial {
            background: black;
            width: auto;
            height: auto;
        }
        .buttons{
            margin-left: -5px;
            gap: -3px;
        }
    }
}    

.block{
    display: none;
}
